.PhoneWrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Phone {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 1000px;
  background-size: cover;
}

.PhoneFrame {
  position: absolute;
  z-index: 999;
  width: 500px;
  height: 1000px;
  pointer-events: none;
}

.PhoneScreen {
  overflow: hidden;
  position: absolute;
  background-color: black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  bottom: 100px;
  left: 50px;
  right: 50px;
  top: 100px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PhoneAppContainer {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
*::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #666;
}


.zoomProp {
  transform: scale(10);
}