@import url('non.geist');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist Variable', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

code {
  font-family: 'Geist Variable', sans-serif;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
